
<div>
    <select (change)="filterByPriority($event)">
        <option value="all">EVERYTHING</option>
        <option value="low">LOW</option>
        <option value="medium">MEDIUM</option>
        <option value="high">HIGH</option>
    </select>
</div>
<table>
    <tr *ngFor="let task of tasks$ | async">
        <td>
            <span>{{task.name}}</span>
        </td>
        <td>
            <span>{{task.priority}}</span>
        </td>
        <td>
            <button (click)="deleteTask(task.id)">Delete  {{task.id}}</button>
        </td>
    </tr>
</table>